.personagens {

    margin: 0 auto;


    @media(max-width: 768px){
        margin: 0;
    }

    &__title {
        text-align: center;
        font-size: 40px;
        margin: 40px 0;
    }

    &__list {
        display: flex;
        justify-content: space-around;
        

        @media(max-width: 767px){
            display: block;
        }
    }

    &__image {


        @media(max-width: 767px){
            display: flex;
            justify-content: center;
            align-items: center;


        }

        img {
            width: 250px;
            height: 250px;
            border-radius: 50%;
            text-align: center;

            @media(max-width: 767px){
                margin: 15px 0;

            }

            @media(min-width: 767px) and (max-width: 1023px){
                width: 180px;
                height: 180px;   
            }
        }

        &:hover img {
            filter: brightness(50%);
            transition: 0.5s ease;

        }

    }

    &__nome {
        text-align: center;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
        padding-top: 10px;
    }

}
